**/bin/
**/obj/
**/*.user
**/*.suo
**/.vs/
.git/
.gitignore
.vscode/
.idea/
node_modules/
**/TestResults/
**/coverage/
**/*.log
**/Dockerfile
**/.dockerignore
**/.editorconfig
**/.github/
**/.vs/
samples/*/bin/
samples/*/obj/
tests/*/bin/
tests/*/obj/
**/.DS_Store
**/Thumbs.db
